@import "header.css";

.blog-article {
  border: 1px solid rgb(139, 0, 139);
  margin: 16px;
  border-radius: 5px;
  padding: 8px;
}

.blog-article h2 {
  margin: 0;
}

.click-me {
  display: block;
  text-align: right;
}

.click-me a {
  text-decoration: none;
  color: gray;
}

.click-me a:hover {
  color: orange;
}
